<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ij34.mapper.ClassifyInfoMapper">
    <resultMap id="customMap" type="com.ij34.model.ClassifyInfo">
        <id property="id" column="id"  jdbcType="INTEGER"/>
        <result property="name" column="name"  jdbcType="VARCHAR"/>
        <result property="valueNum" column="vaule_num" typeHandler="com.ij34.typehandler.model.GenericTypeHandler"  />
    </resultMap>
    <insert id="insert2">
       INSERT INTO classify_info ( `name`, `vaule_num`)
       VALUES( #{name}, #{valueNum,typeHandler=com.ij34.typehandler.model.GenericTypeHandler});
    </insert>
    <select id="selectAll2" resultMap="customMap">
        select c.* from classify_info c
    </select>


</mapper>
